$mainSize :15px;
$mainColor:#051f34;
$secondColor:#30373e;
$thirdColor:#eee8e3;
$hoverColor:#CB9274;
$transition :all 0.3s ease-in-out;

$map: (h1:$mainSize * 6 , h2:$mainSize * 3 , h3:$mainSize * 1.8 , h4:$mainSize * 1);
	@each $elem , $size in $map {
		
    	#{$elem}{
            font-size: $size;
			color:$mainColor;
			letter-spacing: 3px;
			}
		}



// gothamy font 
/*
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Book'), local('Gotham-Book');
 font-weight: normal;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Bold'), local('Gotham-Bold');
 font-weight: bold;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Book Italic'), local('Gotham-BookItalic');
 font-weight: normal;
 font-style: italic;
 font-variant: normal;
} */

// fonts
@font-face{
	src: url(fonts/Gotham-Bold.otf);
	font-family:"bold";
}

@font-face{
	src: url(fonts/GothamLight.ttf);
	font-family:"light";
}
@font-face{
	src:url(fonts/Gotham-Thin.otf);
	font-family:"thin";
}




// some elements will not change
*{
	transition: $transition;
	box-sizing: border-box;
}
button{
	margin-top: 30px;
	color:$mainColor;
	text-align: center;
	//width:190px;
	padding: 1px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: white;
	border:2px solid white;
	display: flex;
     column-gap: 10px;
	font-family: "light";
}
button:hover{
	background-color: $mainColor;
	color:white;
	border:2px solid $mainColor;
	cursor: pointer;
}
button:hover hr{
	width:30px;
	
}
button:hover h4{
	color:white;
}
hr{
	display: inline-block;
	border:0.5px solid $hoverColor;
	height: 0px;
	width:15px;
}
p{
	color: $secondColor;
	font-size: $mainSize * 2.5;
	line-height: 40px;
}

h1{
	
font-weight: bold;
	font-family: "bold"; 

}
h3{
	margin-top: 30px;
	//font-family:monospace;
}
h4{
	//font-family:monospace;
}

i{
	font-size: 25px;
	color:$mainColor;
	cursor: pointer;
}
i:hover{
	color:$hoverColor;
}

// page 1 HOME


*{
	::selection{
		background-color: $hoverColor;
		color:white;
	}
}

*{
	font-family: "thin";
}

// body
body{
	overflow-x: hidden;
	font-size: $mainSize;
	font-family: "thin";
	background-color: #f0f0f0;
	//onload
	overflow-y: hidden;
	
		// to rotate some images
	.toRotate{
			transform: rotate(180deg);
		} 
	 
	
	// circle cursor
	.circle-cursor{
		position: absolute;
		background-color: $hoverColor;
		border-radius: 50%;
		height: 35px;
		width: 35px;
		opacity: 0.8;
		display: none;
	}
	
	.allBody{
		display: none;
		overflow-x: hidden;
		// the cursor 
		
	}
	// onload
	.loading{
		
			text-align: center;
		position: relative;
		top:250px;
		
		img{
			width:250px;
			height: 50px;
		}
		
		// loading logo2 image
		.loadingImage{
			height: 120px;
			width:120px;
			position: relative;
			top:-30px;
			animation: load1 1s ease-in-out 0s infinite normal forwards;
		}
		
		@keyframes load1{
			0%{
              transform: rotate(0deg);
				opacity: 0.5;
			}
			100%{
				transform: rotate(360deg);
				 opacity: 1;
			}
		}
		
		#logoLoading{
			animation: load2 1s ease-in-out 0s infinite normal forwards;
		}
		
		@keyframes load2{
			0%{
              opacity: 0.5;
			}
			100%{
				opacity: 1;
			}
		}
	}
	
	
	

}
/*
@font-face {
font-family: "Ghosamy";
//src: url("file:///C:/Users/KARIMS~1/AppData/Local/Temp/Rar$EXa7396.35272/gotham-bold-demo.eot"); 
	
src: url("../") 
//url("gotham-bold-demo.otf") format("opentype"),
url("gotham-bold-demo.otf") format("opentype"),
url("gotham-bold-demo.svg#filename") format("svg"); 
} */
/*
@font-face {
font-family: 'Ghosamy';
src: url('../fonts/Gotham-Black.eot');
src:url('../fonts/Gotham-Black.eot') format('embedded-opentype'),
     url('../fonts/Gotham-Black.eot') format('woff'),
     url('../fonts/Gotham-Black.eot') format('truetype'),
    url('../fonts/Gotham-Black.eot') format('svg');
font-weight: normal;
font-style: normal;
} */

// header 
.header{
	padding-left: 5%;
padding-right: 5%;
	margin-top: 30px;
	display: flex;
	justify-content:space-between;
	
	.nav{
		display: flex;
		position: absolute;
		
		li{
			display: flex;
			margin-left: 10px;
			list-style-type: none;
			hr{
				border:0.5px solid $mainColor;
			}
			
			a{
				display: inline-block;
				color:$mainColor;
				text-decoration: none;
			}
		}
		li:hover{
			color: $hoverColor;
			
		}
		li:hover hr{
			width:25px;
			border:1px solid $hoverColor;
		}
		li:hover a{
			background-color: transparent;
				color:$hoverColor;
		}
	}
	
/*	div:nth-of-type(2){
		//margin-left: -15%;
		position: relative;
		left:-8%;
	} */
	
	#logo, #logoPrincipal{
		display: none;
		width:160px;
		height: 30px;
		position: absolute;
		text-align: center;
		margin-left: -5%;
		cursor: pointer;
	}
	#logoPrincipal{
		display: block;
		width:80px;
		height: 80px;
		margin-top: -20px;
	}
	#burger1{
		font-size: 25px;
	}
	
	#burger2, #close2{
		font-size: 25px;
		display: none;
		visibility: hidden;
		position: absolute;
	}
	
	// inside burger 2
	.inside-burger2{
		opacity: 0;
		display: none;
		visibility: hidden;
		position: absolute;
	}
	
}
.header2{
	width:100%;
	height: 70px;
	position: fixed;
	top:-40px;
	left:0;
	background-color: #ffffff;
	padding-top: 25px;
	z-index: 6;
}

// section 1 
.finest{
	
display: flex;
	justify-content: space-around;
	//animation: showFirstArticle 1s ease-in-out 0s 1 normal forwards;
	
/*
@keyframes showFirstArticle{
		
		0%{
			
			transform: scale(0.5);
		}
		100%{
			
			transform: scale(1);
		}
	} */
	div:first-of-type{
		
		position: relative;
		left:25%;
		top:50px;
	}
	img{
		width: 100%;
		//height: 800px;
		position: relative;
		left:-200px;
		top:-70px;
		z-index: -2; 
	}
	
	
}

// section 2 
.story{
	margin-top: 50px;
	text-align: center;
	
	.logo2{
		width:150px;
		height: 150px;
		z-index: 5;
		top:30px;
		left:0px;
		animation: showLogo2 1s ease-in-out 0s 1 normal forwards paused;
		
		@keyframes showLogo2{
			
			from{
				transform: rotate(0deg);
				opacity: 0;
			}
			to{
				transform: rotate(360deg);
				opacity: 1;
			}
		}
	}
	
	
	h1{
		letter-spacing: 8px;
		font-size: $mainSize * 9;
		color:$thirdColor;
		text-align: left;
		z-index: -2;
		position: relative;
		top:50px;
		transition: 1s;
	}
	p{
		width:50%;
		margin:50px auto;
	}
	
	div{
		text-align: center;
		vertical-align: middle;
		margin:50px auto;
		background-color: transparent;
		//border-radius: 50%;
		border:1px solid transparent;
		//border-bottom-width: 10px;
		//border-top-width: 10px;
		width:180px;
		padding: 20px;
		cursor: pointer;
		// modify this onscroll
		transform: scale(0.5);
		opacity: 0;
		transition: .5s;
		//animation: ourStore 0.5s ease-in-out  1 normal forwards;
		
		h3{
			font-size: 30px;
			text-align: center;
			margin-top: 5px;
			font-weight: 500;
			transition: 1s;
		}
	}
	div:hover h3{
		font-weight: bold;
		transform: scale(1.2);
		//animation: ourStore 0.5s ease-in-out 0s  1 normal forwards;
	}
	@keyframes ourStore{
		
		0%{
	border-bottom-color: white;
	 border-left-color: white;
    border-right-color: white;
    border-top-color: white;
   box-shadow: 0px 0px 0px white;
		}
	/*	50%{
			border-bottom-color: $hoverColor;
			
	
		}
		75%{
			border-bottom-color: $hoverColor;
	 border-left-color: $hoverColor;
    border-right-color: $hoverColor;
			
   
		} */
		100%{
		/*	border-bottom-color: $hoverColor;
	 border-left-color: $hoverColor;
    border-right-color: $hoverColor;
    border-top-color: $hoverColor; */
			box-shadow: 0px 0px 30px $hoverColor;
		}
	}
	
	h1:last-of-type{
		text-align: right;
		float: right;
		position: relative;
		top:-110px;
		left:0px;
	}
	
}


// section 3 
.products{
	margin-top: 100px;
	
	
	h2{
		padding-left: 5%;
	}
	div:first-of-type{
		width:100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 50px;
		// modify this onscroll
		transform: scale(0.5);
		opacity: 0;
		transition: 1s;
		
		article{
			width:300px;
			height: 400px;
			cursor: pointer;
			img{
              width:300px;
				height: 300px;
			}
			h4{
				float: left;
				
				label{
					opacity: 0.5;
					font-size: $mainSize * 0.8;
				}
			}
			
			h4:last-of-type{
				float: right;
			}
		}
		
		article:first-of-type, article:nth-of-type(3){
         width:300px;
			height: 500px;
			
			img{
				height: 400px;
			}
		}
		
		article:hover{
			transform: scale(0.9);
			opacity: 0.8;
		}

		
	}
	.more{
		position: relative;
		margin:50px auto;
	
			button{
			padding-left: 30px;
			padding-right: 30px;
				margin:50px auto;
		}
		
		
		
	}
	
}
// show and hide product div that appear when the user click on any product
.showProductDiv{
	animation: showPDiv 0.5s ease-in-out 0s 1 normal forwards;
}
.hideProductDiv{
	animation: hidePDiv 0.5s ease-in-out 0s 1 normal forwards;
}
@keyframes showPDiv{
	
	0%{
		  transform: scale(0);
    opacity: 1;
	}
	
	100%{
		  transform: scale(1);
    opacity: 1;
	}
}

@keyframes hidePDiv{
	
	0%{
		  transform: scale(1);
    opacity: 1;
	}
	
	100%{
		  transform: scale(0);
    opacity: 1;
	}
}



// section 4  and section 5
.antique, .perfect{
	margin-top: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 50px;
	
	.image1, .image2{
		//position: absolute;
		position: relative;
		margin-top: -100px;
		margin-left: -100px;
		width:50%;
		height: 500px;
		background-color:$thirdColor;
		z-index: -60;
		border:1px solid transparent;
		
		img{
			width:60%;
			height: 700px;
			float: right;
			position: relative;
		top:-90px;
		left:-90px;
		}
	}
	.image2{
		margin-right: -150px;
		background-color: #f4fbff;
		
		img{
			position: relative;
			left:-180px;
		}
	}
	.girl2{
		animation: showGirl2 1s ease-in-out  1 normal forwards paused;
	}
	.girl3{
		animation: showGirl3 1s ease-in-out  1 normal forwards paused;
	}
	// show girl 2
	@keyframes showGirl2{
		
		0%{
			 transform: scaleY(0);
			opacity: 1;
		}
		100%{
			transform: scaleY(1);
			opacity: 1;
		}
	}
	// show girl 3
		@keyframes showGirl3{
		
		0%{
			 transform: scaleX(0);
			opacity: 1;
		}
		100%{
			transform: scaleX(1);
			opacity: 1;
		}
	}
	
	
	h1{
		font-size: $mainSize * 4;
	}
	img{
		width:35%;
		height: 700px;
		
	/*	background-color: $thirdColor;
		padding: 50px; */
	} 
	div{
		position: relative;
		top:200px;
		
	}
	div:last-of-type{
		position: relative;
		left:-100px;
	}
}
.perfect{
	margin-top: 400px;
	flex-direction: row-reverse;
	
/*	img{
		background-color: #f4fbff
	} */
	div:last-of-type{
		position: relative;
		left:100px;
	}
	
}
	
	// footer 

footer{
	margin-top: 500px;
	text-align: center;
	//position: relative;
	//left:-20px;
	position: relative;
		left:-2%;
	
	img{
		width:160px;
		height: 30px;
		position: relative;
		left:20px;
	}
	
	section{
		margin-top: 80px;
	}
	section:first-of-type{
		
		text-align: center;
	}
	
	section:nth-of-type(2){
		//position: relative;
		//left:-15px;
		display: block;
		text-align: center;
		
		div{
			.first{
	            text-align: center;
				margin-bottom: 30px;
				list-style-type: none;
				
				a{
	
					color:$mainColor;
					cursor: default;
				}
				a:hover{
					text-decoration: none;
					margin-left: 0px;
					color:$mainColor;
				}
			}
		}
		
		
		ul{
			
			li{
				 text-align: center;
				display: block;
				margin-top: 20px;
				list-style-type: none;
				
				a{
					color:$mainColor;
				}
				a:hover{
					color:$hoverColor;
					margin-left: 2px;
					text-decoration: none;
				}
			}
		}
	}
	
	section:nth-of-type(3){
		display: inline-block;
		position: relative;
		left:-10px;
		
		i{
			margin-left: 60px;
		
		}
		i:hover{
			color:$hoverColor;
			transform: scale(1.2);
		}
	}
	
	section:last-of-type{
		color:$mainColor;
		margin-top: 100px;
		text-align: center;
		padding-left: 5%;
		padding-right: 5%;
		
		h4{
			letter-spacing: 0px;
		}
		
	}
}

// inside burger 1 

.inside-burger1{
	overflow-x: hidden;
	display: none;
	background-color: white;
	z-index: 1000000;
	position: fixed;
	top:0;
	width:100%;
	height: 100%;
	//display: flex;
	//justify-content: space-around;
	animation: showInsideBurger1 0.5s ease-in-out  1 normal forwards;
	
	// show inside burger 1
	@keyframes showInsideBurger1{

		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	
	
	h1{
		font-size: $mainSize * 5;
		cursor: pointer;
	}
	h1:hover{
		//font-family: monospace;
		font-weight: 200;
	}
	article:first-of-type{
		display: flex;
		height: 100%;
		width:40%;
	img{
		height: 100%;
		width:100%;
	} 
		div{
			position: absolute;
			margin-top: 600px;
			left: 12%;
		i{
			/*position: relative;
			left:150px; */
			display: inline-block;
			font-size: 30px;
			color:white;
			margin-left: 40px;
		}
		i:hover{
			color:$hoverColor;
			transform: scale(1.2);
		}
			}
		
		}
	article:last-of-type{
		position: absolute;
		width:60%;
		margin-left: 40%;
		margin-top: 160px;
		//	margin-top: -400px;
		text-align: center;
		
		img{
            width:120px;
		height: 120px;
			cursor: pointer;
			animation: showLogoInsideBurger 1s ease-in-out 1 normal forwards;
		}
		
		@keyframes showLogoInsideBurger{
			from{
				opacity: 0;
				transform: scale(0.5);
				margin-top: -400px;
			}
			to{
				opacity: 1;
				transform: scale(1);
				margin-top: 0px;
			}
		}
		div{
			margin-top: 50px;
			display: flex;
			justify-content: space-around;
			
			ul{
				li{
					list-style-type: none;
					margin-top: 20px;
					
					a{
						color:$mainColor;
					}
					a:hover{
						text-decoration: none;
						color:$hoverColor;
						margin-left: 10px;
					}
				}
			}
		}
	}
	
	#close1{
	position: relative;
		left:52.8%;
		top:33px;
	}
}
// hide inside burger 1 
.hide-inside-burger1{
	animation: hideInsideBurger1 0.5s ease-in-out  1 normal forwards;
}
@keyframes hideInsideBurger1{

		from{
			opacity: 1;
		}
		to{
			opacity: 0;
		}
	}

// arrow to get to the top
@mixin arrowButtons{
	font-size: 20px;
	display: none;
	position: fixed;
	bottom: 5%;
	right:5%;
	color:white;
	background-color: $mainColor;
	padding: 15px;
	border-radius: 50%;
	cursor: pointer;
	animation : showArrowButton 0.5s ease-in-out 1 normal forwards;
	
}
#arrow-button{
	@include arrowButtons;
}
/*
#hide-arrow-button{
	@include arrowButtons;
	animation : hideArrowButton 0.5s ease-in-out 1 normal forwards;
} */
#arrow-button:hover{
	opacity:0.5;
	//background-color: $hoverColor;
}
// show arrow
@keyframes showArrowButton{
	from{
		right:-5%;
	}
	to{
		right: 5%;
	}
}
// hide arrow
@keyframes hideArrowButton{
	from{
		right:5%;
	}
	to{
		right: -5%;
	}
}




// page 2 about us
// section 1
.our{
	margin-top: 50px;
display: flex;
	justify-content: center;
	
	h1{
		font-size: $mainSize * 4;
		//font-family: monospace;
		font-weight: 200;
		position: relative;
		left:100px;
		top:200px;
	}
	
	img{
		width:60%;
		
	}
}

// section 2 
.aboutUs{
margin-top: 200px;

	display: flex;
	justify-content: space-around; 
	//column-gap: 100px;
	
	img{
		width:20%;
		height: 400px;
		animation: showImage1 0.5s ease-in-out  1 normal forwards paused;
	}
	div{
	width:30%;
		position: relative;
		top:50px;
	h3{
		font-size: $mainSize * 2;
		margin-top: 20px;
	}
	p{
		font-size: $mainSize * 1.5;
		margin-top: 20px;
	}
		}
	
	img:last-of-type{
			position: relative;
		top:150px;
		animation: showImage2 0.5s ease-in-out  1 normal forwards paused;
	}
	
}


// section 3 
.precious{
	margin-top: 500px;
	display: flex;
	justify-content: space-around;
	//column-gap: 100px;
	
	div{
		width:20%;
		
		h2{
			position: absolute;
			margin-top: -150px;
		}
		
		img{
			width:100%;
			height: 200px;
			margin-top: 20px;
		}
		
		h3{
		font-size: $mainSize * 2;
		margin-top: 20px;
	}
	p{
		font-size: $mainSize * 1.5;
		margin-top: 20px;
	}
		
	}
	
	div:first-of-type{
		img:first-of-type{
			animation: showImage1 0.5s ease-in-out  1 normal forwards paused;
		}
		
	}
	
	div:nth-of-type(2){
		width:30%;
		position: relative;
		top:200px;
		
		img{
			width: 80%;
			height: 500px;
		}
	}
	
	div:last-of-type{
		img:first-of-type{
			animation: showImage2 0.5s ease-in-out  1 normal forwards paused;
		}
		
	}
	
	
}

// footer in other pages
.footer2{
	margin-top: 200px;
}

// show image 1
	@keyframes showImage1{
		
		from{
			position: relative;
			left:-400px;
			opacity: 0;
		}
		
		to{
			position: relative;
			left:0px;
			opacity: 1;
		}
	}
	// show image 2
	@keyframes showImage2{
		
		from{
			position: relative;
			left:300px;
			opacity: 0;
		}
		
		to{
			position: relative;
			left:0px;
			opacity: 1;
		}
	}

// page 3 contact
// section 1

.contacts{
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
	div:first-of-type{
	//position: absolute;
		position: relative;
		left:10%;
		margin-top: 150px;
	h1{
		font-size: $mainSize * 4;
	}
	h3{
		font-size: $mainSize * 1.5;
		position: relative;
		top:40px;
		cursor: pointer;
		//margin-top: 50px;
	}
		h3:hover{
			color:$hoverColor;
		}
	}
	
	div:nth-of-type(2){
		width: 400px;
		
		img{
			width:400px;
			height: 600px;
		}
	}
	
	div:last-of-type{
		margin-right: 10%;
		h4{
			margin-top: 50px;
		}
		
		input, select{
			font-size: 20px;
			width:400px;
			height: 60px;
			border: 0.1px solid $hoverColor;
			padding-left: 20px;
			color:$mainColor;
		}
		select{
			padding-left: 10px;
		}
		input:focus{
			border-top: 1px solid $mainColor;
			border-bottom: 0.1px solid transparent;
			border-right: 0.1px solid transparent;
			border-left: 0.1px solid transparent;
			outline: 0px solid transparent;
		}
		
		button{
			h4, i{
				margin-top: 10px;
			}
			i{
				display: none;
				font-size: 20px;
				color:$hoverColor;
			}
		/*	hr{
                 border-color: $mainColor;
			} */
		}
		
		}
	
		.products-color-fiora, .products-color-stud , .products-color-fiora-optional, .products-color-stud-optional{
		display: none;
		
	} 
	
	}

// page 4 deleivery
// section 1
.deleivery{
	margin-top: 100px;
	display: flex;
	justify-content: center;
	
	h1{
		font-size: $mainSize * 4;
		position: relative;
		left:50px;
		top:200px;
	}
	
	img{
		width:60%;
		height: 500px;
	}
}
// section 2 and section 3 
.shipped, .free{
margin-top: 100px;
	display: flex;
	justify-content: space-around;
	
	div{
		width:30%;
		position: relative;
		top:50px;
	}
	
	img{
		width:40%;
		height: 400px;
	}
	.imageBrac1{
		animation: showImageBrac1 0.5s ease-in-out  1 normal forwards paused;
	}
	.imageBrac2{
		animation: showImageBrac2 0.5s ease-in-out  1 normal forwards paused;
}
	@keyframes showImageBrac1{
		0%{
         transform: scaleX(0);
			transform-origin: 0% 0%;
			opacity: 1;
		}
		100%{
			transform: scaleX(1);
			transform-origin: 0% 0%;
			opacity: 1;
		}
	}
	
	@keyframes showImageBrac2{
		0%{
         transform: scaleX(0);
			transform-origin: 100% 100%;
			opacity: 1;
		}
		100%{
			transform: scaleX(1);
			transform-origin: 100% 100%;
			opacity: 1;
		}
	}
	
	p{
		line-height: 30px;
		margin-top: 30px;
		font-size: $mainSize * 1.5;
	}
}
.free{
	margin-top: 200px;
flex-direction: row-reverse;
}

// section 4 
.fill{
	margin-top: 250px;
	
	position: relative;
	left:33%;
	
	h2{
		letter-spacing: 0px;
		position: relative;
		top:-50px;
	}
	
	h4{
			margin-top: 50px;
		}
		
		input{
			width:500px;
			height: 60px;
			border: 0.1px solid $hoverColor;
			padding-left: 20px;
			color:$mainColor;
		}
		input:focus{
			border-top: 1px solid $mainColor;
			border-bottom: 0.1px solid transparent;
			border-right: 0.1px solid transparent;
			border-left: 0.1px solid transparent;
			outline: 0px solid transparent;
		}
		
		button{
			h4{
				margin-top: 10px;
			}
		/*	hr{
				border-color: $mainColor;
			} */
		}
		
		
}

// page 5 collections
.collections{
	.first-article{
	margin-top: 100px;
	display: flex;
	justify-content: center;
	
	h1{
		font-size: $mainSize * 4;
		position: relative;
		left:50px;
		top:200px;
	}
	
	img{
		width:60%;
		height: 500px;
	}
		
		
	}
	

	
		div{
			position: relative;
			top:50px;
			margin-top: 50px;
		width:100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		//column-gap: 50px;
		// modify this onscroll
		transform: scale(0.5);
		opacity: 0;
		transition: 1s; 
		
		article{
			width:300px;  
			height: 400px;
			cursor: pointer;
			img{
              width:300px;
				height: 300px;
			}
			h4:first-of-type{
				float: left;
				
				label{
					opacity: 0.5;
					font-size: $mainSize * 0.8;
				}
			}
			
			h4:last-of-type{
				float: right;
			}
		}
		
		article:first-of-type, article:nth-of-type(3){
         width:300px;  
			height: 500px;
			 
			img{
				height: 400px;
			}
		}
		
		article:hover{
			transform: scale(0.9);
			opacity: 0.8;
		}
	}
}


// screen for mobile
@media (max-width:950px){

	
$map: (h1:$mainSize * 4 , h2:$mainSize * 2 , h3:$mainSize * 1.5 , h4:$mainSize * 1);
	@each $elem , $size in $map {
		
    	#{$elem}{
            font-size: $size;
			color:$mainColor;
			letter-spacing: 3px;
			}
		}
	
	p{
	font-size: $mainSize * 2;
	line-height: 40px;
}
	
	button{
		display: flex;
		column-gap: 0px;
		
		h4{
			margin-left: 15px;
		}
	}
	
	
// header 
.header{
	background-color: #ffffff;
	height: 70px;
	padding-left: 5%;
padding-right: 5%;
	padding-top: 25px;
	margin-top: 0px;
	display: flex;
	
	justify-content:space-between;
	
	div:first-of-type{
		display: none;
	}
	.nav{
		display: none;
		position: absolute;
		
	
	}
	
	div:nth-of-type(2){
		
	
	#logo, #logoPrincipal{
		width:140px;
		height: 30px;
		/*width:130px;
		height: 30px;*/
		position: relative;
	}
		#logoPrincipal{
			width:60px; 
			height: 60px;
		}
	}
	#burger1{
		display: none;
		//font-size: 25px;
	}
	
	#burger2, #close2{
		//font-size: 25px;
		display: none;
		visibility:visible;
		position: relative;
	}
	#burger2{
		display: block;
	}
	
		// inside burger 2
	.inside-burger2{
		position: absolute;
		visibility: visible;
		display: none;
		opacity: 1;
		top:80px;
		left:0px;
		background-color: white;
		z-index: 100;
		width:100%;
		animation: showInsideBurger2 0.5s ease-in-out  1 normal forwards;
		
	/*	ul{
			width:100%; */
		li{
			padding: 15px;
			padding-left: 5%;
			padding-right: 5%;
			display: block;
			margin-top: 5px;
			//margin-left: -30px;
			width: 100%;
			cursor: pointer;
			animation: showInsideBurger2 0.5s ease-in-out  1 normal forwards;
			
			a{
				//font-family: "monospace";
				font-size: $mainSize * 1.3;
				text-decoration: none;
				color:$mainColor;
			}
			
			i{
				float: right;
				position: relative;
				top:-5px;
				//left:10px;
			}
			
		}
	
		li:hover{
            background-color: black;
		}
		li:hover a, li:hover i{
				color:#ffffff;
			}
		
		.burgerOurStory, /*.burgerOurMaterials,*/ .burgerContactUs, .burgerDeleivery, .burgerFaq{
			display: none;
			a{
			font-size: $mainSize * 1;
				opacity: 0.9;
				}
		}
		
		.clickedInsideBurger{
             background-color: black;
			
			a{
				color:white;
			}
			i{
				color:white;
			}
		}
			
		//	}
		
	}
	.hide-inside-burger2{
	animation: hideInsideBurger2 0.5s ease-in-out  1 normal forwards;
}
	
	// show inside burger 2
	@keyframes showInsideBurger2{
		
		0%{
			transform: scaleY(0);
			transform-origin: 100% 0%;
             opacity: 1;
		}
		100%{
						
            transform: scaleY(1);
			transform-origin: 100% 0%;
             opacity: 1;
		}
	}
	// hide inside burger 2
	@keyframes hideInsideBurger2{
		
		0%{
			  transform: scaleY(1);
			transform-origin: 100% 0%;
             opacity: 1;
		}
		100%{
			transform: scaleY(0);
			transform-origin: 100% 0%;
             opacity: 1;
		}
	}
	
	
}
	.header2{
		top:0px;
	}

	
	// section 1 
.finest{
margin-top: 0px;
	
	animation: showFinest 1s ease-in-out 0s 1 normal forwards;
	animation: showFinest 1s ease-in-out 0s 1 normal forwards;
	
	@keyframes showFinest {
		
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	
	div:first-of-type{
		position: relative;
		left:45%;
		top:50px;
	}
	img{
		width: 200%;
		height: 500px;
		position: relative;
		left:-200px;
		top:0px;
		z-index: -2;
	}
	
	
}
	// modify fines in 700px
@media (max-width:700px){
	.finest{
		div:first-of-type{
		position: relative;
		left:70%;
		}
	}
		
	}
	// modify fines in 700px
@media (max-width:600px){
	.finest{
		div:first-of-type{
		position: relative;
		left:100%;
		}
	}
		
	}
	
	
	// section 2 
.story{
	padding-left: 5%;
		padding-right: 5%;
	margin-top: 50px;
	text-align: center;
	h1{
		//letter-spacing: 8px;
		font-size: $mainSize * 4;
	/*	color:$thirdColor;
		text-align: left;
		z-index: -2; */
		position: relative;
		top:50px;
		//transition: 1s;
	}
	p{
		width:100%;
		margin:50px auto;
		position: relative;
		top:150px;
	}
	
	div{
	
		// modify this onscroll
		transform: scale(0.5);
		opacity: 0;
		position: relative;
		top:150px;
		//transition: 1s;
		//animation: ourStore 0.5s ease-in-out  1 normal forwards;
		
		h3{
			font-weight: bold;
			transform: scale(1.2)
		}
	}
	
	
	h1:last-of-type{
	/*	text-align: right; 
		float: right;*/
		position: relative;
		top:-370px;
		left:0px;
	}
	
}
	
	
	
	
// section 3 
.products{
	margin-top: 300px;
	
	h2{
		padding-left: 5%;
	}
	div{
		margin-top: 30px;
		// modify this onscroll
		transform: scale(1);
		opacity: 1;
		//transition: 1s;
		
	}
	
}
	
	
	


// modify products in 700px 
@media (max-width:800px){
	// section 3  page 2 and section 2 in page 5
.products, .collections{
	
	h2{
		//padding-left: 5%;
	}
	
	div:first-of-type, .products1, .products2, .products3{
		display: block;
		transform: scale(1);
		opacity: 1;
		
	article{
		padding-left: 5%;
		padding-right: 5%; 
			width:100%;
			height: 400px;
			cursor: pointer;
			img{
              width:100%;
				height: 300px;
			}
		/*	h4{
				float: left;	
			
			} */
	
		
		}
		
		article:first-of-type, article:nth-of-type(3){
         width:100%;
			height: 400px;
			
			img{
				
				height: 300px;
			}
		} 
		
				// show 1 and 3 element 
		.elementHomeAnimation1, .elementHomeAnimation3{
			animation: showOddElementHome 1s ease-in-out 0s 1 normal forwards;
			
			@keyframes showOddElementHome{
				0%{
				  transform: translateY(-600px) rotateX(-30deg) scale(0);
				  transform-origin: 50% 100%;
					opacity: 0;

				}
				100%{
					transform: translateY(0) rotateX(0) scale(1);
					transform-origin: 50% 1400px;
                     opacity: 1;
				}
			}
		}
		// show 2 and 4 element
		.elementHomeAnimation2, .elementHomeAnimation4{
			animation: showEevenElementHome 1s ease-in-out 0s 1 normal forwards ;
			
			@keyframes showEevenElementHome{
				0%{
					transform: translateY(600px) rotateX(30deg) scale(0);
					transform-origin: 50% 100%;
                     opacity: 0;
				}
				100%{
					transform: translateY(0) rotateX(0) scale(1);
					transform-origin: 50% -1400px;
                     opacity: 1;
				}
			}
		}

	
	
	.more{

		margin:50px auto;
	}
	
}
	
	// modify footer in 700px also
	// footer
	footer{
	margin-top: 400px;
	text-align: center;
	position: relative;
		left:-4%;
	
		img{
			position: relative;
			left:20px;
			cursor: pointer;
		}
	section{
		margin-top: 80px;
	}
	section:first-of-type{
		/*position: relative;
		left:0px; */
		text-align: center;
	}
	
	section:nth-of-type(2){
		/*position: relative;
		left:0px;*/
		display: block;
		justify-content: space-around;
		column-gap: 0px;
		
	
	/*	div:last-of-type{
			position: absolute;
			margin-top: 200px;
			display: block;
			text-align: center;
			
			li:nth-of-type(2), li:last-of-type{
				display: inline-block;
				margin-left: 10px;
				position: relative;
				left:-10px;
			}
		} */
		
		
		
	}
	
	section:nth-of-type(3){
		display: inline-block;
		/*position: relative;
		left:0px; */
		margin-top: 50px;
		
	}
	
		section:last-of-type{
			padding-left: 5%;
		padding-right: 5%;
			position: relative;
			left:4%;
			h4{
				font-size: $mainSize * 0.8;
			}
		}
	
}
}
	
	
	
	// section 4  and section 5
.antique, .perfect{
	margin-top: 150px;
	display: block;
	padding-left: 5%;
	padding-right: 5%;

	.image1, .image2{
		position: relative;
		margin-top: -100px;
		margin-left: 0px;
		width:100%;
		height: 500px;
		background-color:transparent;
	
		img{
			width:100%;
			height: 500px;
			//float: right;
			position: relative;
		top:-90px;
		left:0px;
		}
	}
	.image2{
		margin-right: 0px;
		background-color: transparent;
		
		img{
			position: relative;
			left:0px;
		}
	}
	.girl2{
		animation: showGirl2 1s ease-in-out  1 normal forwards paused;
	}
	.girl3{
		animation: showGirl3 1s ease-in-out  1 normal forwards paused;
	}

	
	h1{
		font-size: $mainSize * 3;
	}
  
	div{
		position: relative;
		top:200px;
		
	}
	div:last-of-type{
		position: relative;
		left:0px;
	}
}
.perfect{
	margin-top: 350px;
	//flex-direction: row-reverse;
	
/*	img{
		background-color: #f4fbff
	} */
	div:last-of-type{
		position: relative;
		left:0px;
	}
	
}
	
	// page 2 about us
// section 1
.our{
	margin-top: 20px;
display: block;
	padding-left: 5%;
	padding-right: 5%;
	
	h1{
		font-size: $mainSize * 3;
		position: relative;
		left:0px;
		top:360px;
		width:85%;
		background-color: #f0f0f0;
		
	}
	
	img{
		width:100%;
		height: 330px;
	}
}

// section 2 
.aboutUs{
margin-top: 150px;
	display: block;
padding-left: 5%;
	padding-right: 5%;
	
	img{
		position: relative;
		top:420px;
		width:100%;
		height: 350px;
		animation: showImage1 0s ease-in-out  1 normal forwards paused;
	}
	div{
	width:100%;
		position: relative;
		top:-400px;
/*	h3{
		font-size: $mainSize * 2;
		margin-top: 20px;
	}
	p{
		font-size: $mainSize * 1.5;
		margin-top: 20px;
	} */
		}
	
	img:last-of-type{
		display: none;
		animation: showImage2 0s ease-in-out  1 normal forwards paused;
	}
	
}


// section 3 
.precious{
	margin-top: 100px;
	display: block;
	padding-left: 5%;
	padding-right: 5%;
	
	div{
		width:100%;
		
		h2{
			position: relative;
			margin-top: 0px;
		}
		
		img{
			width:100%;
			height: 350px;
			margin-top: 20px;
		}
		p{
			width:100%;
		}
		
	}
	
	div:first-of-type{
		img:first-of-type{
			animation: showImage1 0s ease-in-out  1 normal forwards paused;
		}
		
	}
	
	div:nth-of-type(2){
		width:100%;
		margin-top: 30px;
		position: relative;
		top:0px;
		
		img{
			width: 100%;
			height: 350px;
		}
	}
	
	div:last-of-type{
		
		img:first-of-type{
			animation: showImage2 0s ease-in-out  1 normal forwards paused;
		}
		
	}
	
	
}
	
	// page 3 contact
// section 1

.contacts{
	margin-top: 100px;
	display: block;
	padding-left: 5%;
	padding-right: 5%;
	
	div:first-of-type{
	position: relative;
		left:0px;
		margin-left: 0px;
		margin-top: 100px;
	h1{
		font-size: $mainSize * 3;
	}

	}
	
	div:nth-of-type(2){
		width: 100%;
		margin-top: 100px;
		
		img{
			width:100%;
			height: 500px;
		} 
	}
	
	div:last-of-type{
		
	/*	h4{
			margin-top: 50px;
		} */
		
		input, select{
			width:100%;
		
		}
		
		
	
		
		}
	

	
	}
	
	
	
	
	// page 4 deleivery
// section 1 and section 1 in page 5
.deleivery, .collections .first-article{
	margin-top: 50px;
	display: block;
	padding-left: 5%;
	padding-right: 5%;
	
	h1{
		font-size: $mainSize * 3;
		position: relative;
		left:0px;
		top:360px;
		width:85%;
		background-color: #f0f0f0;
		
	}
	
	img{
		width:100%;
		height: 330px;
	}
	
	}
}
// section 2 and section 3 
.shipped, .free{
margin-top: 100px;
	display: block;
	padding-left: 5%;
	padding-right: 5%;
	
	div{
		width:100%;
		position: relative;
		top:-350px;
	}
	
	img{
		width:100%;
		height: 350px;
		position: relative;
		top:350px;
	}
	.imageBrac1{
		animation: showImageBrac1 0s ease-in-out  1 normal forwards paused;
	}
	.imageBrac2{
		animation: showImageBrac2 0s ease-in-out  1 normal forwards paused;
}
	
	
	
	p{
		//line-height: 30px;
		margin-top: 30px;
		font-size: $mainSize * 1.5;
	}
}
	
.free{
	margin-top: 150px;
flex-direction:row;
}

// section 4 
.fill{
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 200px;
	
	position: relative;
	left:0%;
	
	h2{
		letter-spacing: 0px;
		position: relative;
		top:-30px;
	}
	
	h4{
			margin-top: 50px;
		}
		
		input{
			width:100%;
		}
		
		
	
}


}